@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.artboard.phone-1 {
  @apply relative;
}

.kbd {
  @apply cursor-pointer min-h-[3.2rem] min-w-[4.2rem] rounded-2xl flex flex-col;
}

.badge {
  @apply cursor-pointer;
}
